<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理系统</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</head>

<body>
<div class="modal fade" id="commentUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">评论信息修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">评论人</label>
                        <div class="col-sm-10">
                            <input type="text" name="userName" class="form-control" id="userName_update_input"
                                   readonly="readonly"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">满意度</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="level">
                                <option value="1">1星</option>
                                <option value="2">2星</option>
                                <option value="3">3星</option>
                                <option value="4">4星</option>
                                <option value="5">5星</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">房间号</label>
                        <div class="col-sm-10">
                            <input type="text" name="roomNumber" class="form-control" id="roomNumber_update_input">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">评论</label>
                        <div class="col-sm-10">
                            <input type="text" name="comment" class="form-control" id="comment_update_input">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="comment_update_btn">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="commentAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel02">订单信息新增</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">评论人</label>
                        <div class="col-sm-10">
                            <input type="text" name="userName" class="form-control" id="userName_add_input"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">满意度</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="level">
                                <option value="1">1星</option>
                                <option value="2">2星</option>
                                <option value="3">3星</option>
                                <option value="4">4星</option>
                                <option value="5">5星</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">房间号</label>
                        <div class="col-sm-10">
                            <input type="text" name="roomNumber" class="form-control" id="roomNumber_add_input">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">评论</label>
                        <div class="col-sm-10">
                            <input type="text" name="comment" class="form-control" id="comment_add_input">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="comment_add_btn">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row header">
        <div class="col-md-2 header-left"><img th:src="@{/images/logo.png}" alt=""></div>
        <div class="col-md-8 header-center">
            <ul class="ul">
                <li><span class="title">酒店后台管理</span></li>
                <li><input class="search" type="text" name="userName" id="userName_search_input"
                           placeholder="请输入要查询的用户名">
                </li>
                <li><span class="glyphicon glyphicon-search" id="comment_search_modal_btn"></span></li>
            </ul>
        </div>
        <div class="col-md-2 header-right login">
            <span class="glyphicon glyphicon-user"></span>
            <span class="username" th:text="${session.ADMIN_USER.getAdminName()}">admin</span>
        </div>
    </div>
</div>
<div class="content">
    <div class="left">
        <ul class="nav nav-pills">
            <li role="presentation"><a th:href="@{/user/index}">会员管理</a></li>
            <li role="presentation"><a th:href="@{/room/index02}">房间管理</a></li>
            <li role="presentation"><a th:href="@{/employee/index03}">员工管理</a></li>
            <li role="presentation"><a th:href="@{/order/index04}">订单管理</a></li>
            <li role="presentation"><a th:href="@{/comment/index05}">评论管理</a></li>
            <li role="presentation"><a th:href="@{/housing/index06}">入住管理</a></li>
        </ul>
    </div>
    <div class="right">
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <button class="btn btn-primary" id="comment_add_modal_btn">新增</button>
                <span class="help-block"></span>
            </div>
        </div>
        <!-- 显示表格数据 -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped table-bordered" id="comment_table">
                    <thead>
                    <tr>
                        <th>评论ID</th>
                        <th>评论人</th>
                        <th>房间号</th>
                        <th>评论</th>
                        <th>满意度</th>
                        <th>评论时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="page_info_area"></div>
            <div class="col-md-6" id="page_nav_area"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let totalRecord, currentPage;
    $(function () {
        to_page("comments", 1);
    });

    function to_page(method, pn) {
        $.ajax({
            url: "/comment/" + method,
            data: "pn=" + pn,
            type: "GET",
            dataType: "json",
            success: function (result) {
                build_comment_table(result.extend.pageInfo.list);
                build_page_info(result);
                build_page_nav(method, result);
            }
        });
    }
    //生成table表格内容
    function build_comment_table(result) {
        $("#comment_table tbody").empty();
        $.each(result, function (index, item) {
            let commentIdTd = $("<td></td>").append(item.commentId);
            let userNameTd = $("<td></td>").append(item.user.userName);
            let createTimeTd = $("<td></td>").append(item.createTime);
            let levelTd = $("<td></td>").append(item.level + "星");
            let roomNumberTd = $("<td></td>").append(item.room.roomNumber);
            let commentTd = $("<td></td>").append(item.comment);


            let editBtn = $("<button></button>").addClass("btn btn-primary btn-sm edit_btn").append(
                $("<span></span>").addClass("glyphicon glyphicon-pencil")).append("编辑");

            editBtn.attr("edit-id", item.commentId);
            let delBtn = $("<button></button>").addClass("btn btn-danger btn-sm delete_btn").append(
                $("<span></span>").addClass("glyphicon glyphicon-trash")).append("删除");
            delBtn.attr("del-id", item.commentId);
            let btnTd = $("<td></td>").append(editBtn).append(" ").append(delBtn);
            $("<tr></tr>").append(commentIdTd).append(userNameTd).append(roomNumberTd).append(commentTd).append(levelTd)
                .append(createTimeTd).append(btnTd)
                .appendTo("#comment_table tbody");
        });
    }

    function build_page_info(result) {
        $("#page_info_area").empty();
        $("#page_info_area").append(
            "当前" + result.extend.pageInfo.pageNum + "页,总"
            + result.extend.pageInfo.pages + "页,总"
            + result.extend.pageInfo.total + "条记录");
        totalRecord = result.extend.pageInfo.total;
        currentPage = result.extend.pageInfo.pageNum;
    }

    function build_page_nav(method, result) {
        $("#page_nav_area").empty();
        let ul = $("<ul></ul>").addClass("pagination");

        let firstPageLi = $("<li></li>").append($("<a></a>").append("首页").attr("href", "#"));
        let prePageLi = $("<li></li>").append(
            $("<a></a>").append("&laquo;"));
        if (result.extend.pageInfo.hasPreviousPage === false) {
            firstPageLi.addClass("disabled");
            prePageLi.addClass("disabled");
        } else {
            firstPageLi.click(function () {
                to_page(method, 1);
            });
            prePageLi.click(function () {
                to_page(method, result.extend.pageInfo.pageNum - 1);
            });
        }

        let nextPageLi = $("<li></li>").append(
            $("<a></a>").append("&raquo;"));
        let lastPageLi = $("<li></li>").append(
            $("<a></a>").append("末页").attr("href", "#"));
        if (result.extend.pageInfo.hasNextPage === false) {
            nextPageLi.addClass("disabled");
            lastPageLi.addClass("disabled");
        } else {
            nextPageLi.click(function () {
                to_page(method, result.extend.pageInfo.pageNum + 1);
            });
            lastPageLi.click(function () {
                to_page(method, result.extend.pageInfo.pages);
            });
        }

        ul.append(firstPageLi).append(prePageLi);
        $.each(result.extend.pageInfo.navigatepageNums, function (index, item) {
            if (item != 0) {
                let numLi = $("<li></li>")
                    .append($("<a></a>").append(item));
                if (result.extend.pageInfo.pageNum === item) {
                    numLi.addClass("active");
                }
                numLi.click(function () {
                    to_page(method, item);
                });
                ul.append(numLi);
            }
        });
        ul.append(nextPageLi).append(lastPageLi);

        let navEle = $("<nav></nav>").append(ul);
        navEle.appendTo("#page_nav_area");
    }

    function reset_form(ele) {
        $(ele)[0].reset();
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    $("#comment_add_modal_btn").click(function () {
        reset_form("#commentAddModal form");
        $("#commentAddModal").modal({
            backdrop: "static"
        });
    });
    $(document).on("click", ".edit_btn", function () {
        getComment($(this).attr("edit-id"));

        $("#comment_update_btn").attr("edit-id", $(this).attr("edit-id"));
        $("#commentUpdateModal").modal({
            backdrop: "static"
        });
    });

    //回显信息
    function getComment(commentId) {
        $.ajax({
            url: "/comment/comment/" + commentId,
            type: "GET",
            success: function (result) {
                let comment = result.extend.comment;
                $("#userName_update_input").val(comment.user.userName);
                $("#createTime_update_input").val(comment.createTime);
                $("#commentUpdateModal select").val(comment.level);
                $("#roomNumber_update_input").val(comment.room.roomNumber);
                $("#comment_update_input").val(comment.comment);
            }
        });
    }

    //删除
    $(document).on("click", ".delete_btn", function () {
        let commentId = $(this).attr("del-id");
        if (confirm("确认删除吗？")) {
            $.ajax({
                url: "/comment/comment/" + commentId,
                type: "DELETE",
                success: function (result) {
                    if (result.code === 200) {
                        to_page("comments", currentPage);
                    }
                    alert(result.msg);
                }
            });
        }
    });
    //更新
    $("#comment_update_btn").click(
        function () {
            $.ajax({
                url: "/comment/comment/"
                + $(this).attr("edit-id"),
                type: "PUT",
                data: $("#commentUpdateModal form").serialize(),
                success: function (result) {
                    if (result.code === 200) {
                        $("#commentUpdateModal").modal("hide");
                        to_page("comments", currentPage);
                    }
                    alert(result.msg);
                }
            });
        });
    //添加
    $("#comment_add_btn").click(function () {
        if (!validate_add_form()) {
            return false;
        }
        $.ajax({
            url: "/comment/comment",
            type: "POST",
            data: $("#commentAddModal form").serialize(),
            success: function (result) {
                if (result.code === 200) {
                    $("#commentAddModal").modal("hide");
                    to_page("comments", currentPage);
                }
                alert(result.msg);
            }
        });
    });
    //搜索
    $("#comment_search_modal_btn").click(function () {
        $("#comment_table tbody").empty();
        $("#page_info_area").empty();
        $("#page_nav_area").empty();
        $.ajax({
            url: "/comment/searchComments",
            type: "GET",
            data: "userName=" + $("#userName_search_input").val(),
            success: function (result) {
                build_comment_table(result.extend.comments);
            }
        });
    });

    function validate_add_form() {
        /*if ($("#roomNumber_add_input").attr("ajax-va") == "error") {
         return false;
         }*/
        return true;
    }

    //显示校验结果的提示信息
    function show_validate_msg(ele, status, msg) {
        //清除当前元素的校验状态
        $(ele).parent().removeClass("has-success has-error");
        $(ele).next("span").text("");
        if ("success" === status) {
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        } else if ("error" === status) {
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }
</script>
</body>

</html>